.content {
  grid-area: content;
  padding: 41rem 95rem 258rem 71rem;
  background: var(--bckg-color);

  &__greeting {
    padding-bottom: 51rem;
    font-weight: 500;
    font-size: 24rem;
    color: var(--black-color);
  }
}
.content-info {
  border-radius: 30rem;
  background: var(--white-color);
  box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
  padding: 30rem 53rem 40rem 38rem;

  &__table-title {
    font-weight: 600;
    font-size: 22rem;
    letter-spacing: -0.01em;
    color: var(--black-color);
    padding-bottom: 7rem;
  }

  &__table-description {
    font-weight: 400;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: #16c098;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

.content-table {
  &__title {
    font-weight: 500;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: var(--table-text);
  }

  &__content {
    font-weight: 500;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: var(--content-color);
  }

  &__status {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 14rem;
    letter-spacing: -0.01em;
    border-radius: 4rem;
    padding: 4rem 12rem;
    width: 80rem;
  }
}
.status-active {
  color: var(--status-active);
  border: 1rem solid var(--status-active);
  background: rgba(22, 192, 152, 0.38);
}
.status-inactive {
  color: var(--status-inactive);
  border: 1rem solid var(--status-inactive);
  background: #ffc5c5;
}

td {
  border-bottom: 1rem solid #eee;
  padding-top: 24rem;
  padding-bottom: 24rem;
}

.showing-table {
  padding-top: 30rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    font-weight: 500;
    font-size: 14rem;
    letter-spacing: -0.01em;
    color: var(--table-text);
  }

  &__numbering {
    display: flex;
    gap: 12rem;
  }

  &__button {
    border: none;
    outline: none;
    display: inline-block;
    font-family: var(--ff);
    font-weight: 500;
    font-size: 12rem;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #404b52;
    background: #f5f5f5;
    padding: 6rem 9rem;
    border-radius: 4rem;
  }
}
