// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
  --transition: 0.2s all ease-in-out;
  --ff: "Poppins", sans-serif;
  --black-color: #000;
  --white-color: #fff;
  --text-color: #9197b3;
  --bckg-color: #fafbff;
  --table-text: #b5b7c0;
  --content-color: #292d32;
  --status-active: #008767;
  --status-inactive: #df0404;
}
